Repository SE701ProjectGroup4/git-brunching, pull requests merged in 2020-04, with the labels that each got.

#229 Connect frontend and backend to get reservations
  frontend/src/booking/TimeContainer.js
  frontend/src/general/config.js
  frontend/src/landing/LandingPage.js
  frontend/src/landing/RestaurantTile.js
  frontend/src/restaurant/RestaurantViewBookingPage.js
  frontend/src/store/booking/bookingActions.js
  frontend/src/store/booking/bookingEpic.js
  frontend/src/store/booking/bookingReducer.js
  frontend/src/store/rootEpic.js
Labels: enhancement, frontend

#231 Restaurant API fixes in Swagger.
  backend/routes/restaurant.js
Labels: backend

#243 Bugfix/reservation api
  backend/routes/reservation.js
  backend/tests/reservation/deleteSingle.js
  backend/tests/reservation/getAllForRestaurant.js
  backend/tests/reservation/getAvailable.js
  backend/tests/reservation/getSingle.js
  backend/tests/reservation/postSingle.js
  backend/tests/reservation/update.js
Labels: backend, bug

#251 Bugfix/booking confirmation
  backend/routes/reservation.js
  frontend/src/general/config.js
  frontend/src/store/booking/bookingEpic.js
Labels: URGENT, backend, bug, frontend

#255 Feature/disable the past date/time in booking #178
  frontend/src/booking/TimeContainer.js
  frontend/src/general/helperFunctions.js
Labels: enhancement, frontend

#235 #234 Delete booking from Edit Booking popup
  frontend/src/general/config.js
  frontend/src/landing/edit/BookingEditPopupDialog.js
  frontend/src/landing/edit/services/deleteReservationByReference.js
  frontend/src/landing/edit/services/getReservationByReference.js
  frontend/src/store/booking/bookingEpic.js
Labels: enhancement, frontend, needs-review

#257 Feature/196 support different db names
  backend/routes/reservation.js
  backend/routes/restaurant.js
  backend/routes/table.js
  backend/routes/user.js
  backend/tests/reservation/getAllForRestaurant.js
  backend/tests/reviews/getAllForRestaurant.js
Labels: backend, enhancement

#245 bugfix/invalid input
  frontend/package-lock.json
  frontend/package.json
  frontend/src/booking/DetailsContainer.js
Labels: bug, frontend

#247 Get restaurant table data in smaller batches
  backend/routes/restaurant.js
Labels: backend, enhancement

#263 updated Review and Menu tables; auto-increment IDs
  backend/restaurant_db.sql
Labels: URGENT, backend, enhancement

#256 Add custom image support for restaurants in backend
  backend/restaurant_db.sql
  backend/routes/restaurant.js
Labels: backend, enhancement

#265 Add API for search restaurant
  backend/routes/restaurant.js
Labels: backend, enhancement

#270 Add custom restaurant image to frontend
  frontend/public/images/defaultRestaurantImage.jpg
  frontend/public/images/kcf.png
  frontend/public/images/nandoz.png
  frontend/src/landing/RestaurantTile.js
Labels: enhancement, frontend

#267 Create endpoints to get popular restaurants and open restaurants
  backend/routes/restaurant.js
Labels: backend, enhancement

#271 Fixed delete/modify on reservations page
  frontend/src/restaurant/RestaurantViewBookingPage.js
  frontend/src/store/booking/bookingEpic.js
  frontend/src/store/booking/bookingReducer.js
Labels: bug, frontend

#274 Fixed popup menu being clickable
  frontend/src/landing/RestaurantTile.js
Labels: bug, frontend

#266 Completed search for restuarant on front end
  backend/package-lock.json
  frontend/package-lock.json
  frontend/src/general/config.js
  frontend/src/landing/NoRestaurants.js
  frontend/src/landing/SearchBar.js
  frontend/src/store/restaurant/restaurantAction.js
  frontend/src/store/restaurant/restaurantEpic.js
  frontend/src/store/rootEpic.js
Labels: enhancement, frontend, needs-review

#273 Fixed booking times not updating
  frontend/src/booking/TimeContainer.js
Labels: bug, frontend

#280 Create get new restuarants endpoint
  backend/restaurant_db.sql
  backend/routes/restaurant.js
Labels: backend, enhancement

#281 Add restaurant categories on homepage
  frontend/src/general/config.js
  frontend/src/landing/LandingPage.module.css
  frontend/src/landing/NoRestaurants.js
  frontend/src/landing/RestaurantCarousel.js
  frontend/src/landing/RestaurantTile.js
  frontend/src/landing/SearchBar.js
  frontend/src/store/restaurant/restaurantAction.js
  frontend/src/store/restaurant/restaurantEpic.js
  frontend/src/store/restaurant/restaurantReducer.js
  frontend/src/store/rootEpic.js
Labels: enhancement, frontend

#282 Feature/menu routing
  backend/app.js
  backend/routes/menu.js
  backend/routes/reservation.js
  backend/routes/restaurant.js
  backend/routes/reviews.js
  backend/routes/table.js
  backend/routes/user.js
Labels: backend, enhancement

#284 Dynamic searching
  frontend/src/landing/RestaurantTile.js
  frontend/src/landing/SearchBar.js
Labels: enhancement, frontend

#291 Adds cancel button on menu popup
  frontend/src/landing/LandingPage.module.css
  frontend/src/landing/menu/MenuPopupButton.js
Labels: enhancement, frontend

#289 Add send email function once booking's confirmed
  backend/package-lock.json
  backend/package.json
  backend/routes/reservation.js
Labels: backend, enhancement

#268 Fix for search bar being blocked by results.
  frontend/src/landing/LandingPage.js
  frontend/src/landing/LandingPage.module.css
Labels: bug, frontend

#290 Reservation delete confirmation
  frontend/src/landing/edit/BookingEditPopup.module.css
  frontend/src/landing/edit/BookingEditPopupDialog.js
  frontend/src/restaurant/ConfirmDeletePopupButton.js
  frontend/src/restaurant/ConfirmDeletePopupDialog.js
  frontend/src/restaurant/RestaurantViewBookingPage.js
Labels: enhancement, frontend

#298 Getting and displaying menu image for restaurant when menu button clicked
  frontend/src/general/config.js
  frontend/src/landing/LandingPage.module.css
  frontend/src/landing/RestaurantCarousel.js
  frontend/src/landing/menu/Menu.js
  frontend/src/landing/menu/MenuPopupButton.js
  frontend/src/store/menu/menu.js
  frontend/src/store/menu/menuActions.js
  frontend/src/store/menu/menuReducer.js
  frontend/src/store/restaurant/restaurantEpic.js
  frontend/src/store/rootEpic.js
  frontend/src/store/rootReducer.js
Labels: enhancement, frontend

#304 'No menu' image displays if a restaurant doesn't have a menu
  frontend/src/general/NoMenuImage.svg
  frontend/src/landing/LandingPage.module.css
  frontend/src/landing/RestaurantCarousel.js
  frontend/src/landing/menu/Menu.js
  frontend/src/landing/menu/MenuPopupButton.js
Labels: enhancement, frontend

#303 Add review button
  frontend/package-lock.json
  frontend/package.json
  frontend/src/general/config.js
  frontend/src/general/textHolder.js
  frontend/src/landing/LandingPage.module.css
  frontend/src/landing/RestaurantCarousel.js
  frontend/src/landing/RestaurantTile.js
  frontend/src/landing/edit/services/getReviewById.js
  frontend/src/landing/reviews/ReviewPopupButton.js
Labels: frontend

#306 Display multi-page menus
  backend/restaurant_db.sql
  frontend/package-lock.json
  frontend/package.json
  frontend/src/landing/LandingPage.module.css
  frontend/src/landing/RestaurantTile.js
  frontend/src/landing/menu/CustomGalleryColours.css
  frontend/src/landing/menu/Menu.js
  frontend/src/landing/menu/MenuPopupButton.js
Labels: enhancement, frontend
