Repository SE701ProjectGroup4/git-brunching, pull requests merged in 2020-03, with the labels that each got.

#5 Added contributing.md
  .github/CONTRIBUTING.md
Labels: documentation

#27 Initial update of cypress testing framework
  testing/.gitignore
  testing/cypress.json
  testing/cypress/fixtures/example.json
  testing/cypress/integration/examples/actions.spec.js
  testing/cypress/plugins/index.js
  testing/cypress/support/commands.js
  testing/cypress/support/index.js
  testing/package-lock.json
  testing/package.json
Labels: testing

#13 Initialise front end frameworks
  frontend/.eslintignore
  frontend/.eslintrc.js
  frontend/.gitignore
  frontend/README.md
  frontend/package-lock.json
  frontend/package.json
  frontend/public/index.html
  frontend/public/manifest.json
  frontend/public/robots.txt
  frontend/src/App.css
  frontend/src/App.js
  frontend/src/App.test.js
  frontend/src/booking/BookingPage.js
  frontend/src/general/NotFound.js
  frontend/src/index.css
  frontend/src/index.js
  frontend/src/landing/LandingPage.js
  frontend/src/serviceWorker.js
  frontend/src/setupTests.js
  package-lock.json
Labels: enhancement, frontend

#20 Setup backend API
  backend/.babelrc
  backend/.eslintignore
  backend/.eslintrc.json
  backend/.gitignore
  backend/.prettierrc
  backend/app.js
  backend/config/config.js
  backend/package-lock.json
  backend/package.json
  backend/routes/exampleEndpoint.js
  backend/server.js
  backend/test/example/exampleTest.js
Labels: backend

#36 Cloudsql setup
  backend/.babelrc
  backend/.gitignore
  backend/app.js
  backend/database.js
  backend/package-lock.json
  backend/package.json
  backend/routes/exampleEndpoint.js
  backend/routes/restaurant.js
  backend/test/example/exampleTest.js
Labels: backend

#42 Adding state management
  frontend/package-lock.json
  frontend/package.json
  frontend/src/booking/ConfirmationContainer.js
  frontend/src/booking/TimeContainer.js
  frontend/src/index.js
  frontend/src/store/booking/bookingActions.js
  frontend/src/store/booking/bookingReducer.js
  frontend/src/store/rootReducer.js
  frontend/src/store/store.js
Labels: enhancement, frontend

#45 Issue #43 Add new tests for restaurant navigation
  testing/cypress.json
  testing/cypress/integration/examples/actions.spec.js
  testing/cypress/integration/restaurant_routing.spec.js
Labels: testing

#60 Add page to enter booking details and save these details in state
  frontend/package-lock.json
  frontend/package.json
  frontend/src/booking/BookingPage.module.css
  frontend/src/booking/TimeContainer.js
  frontend/src/general/textHolder.js
  frontend/src/store/booking/bookingActions.js
  frontend/src/store/booking/bookingReducer.js
Labels: enhancement, frontend

#69 Feature/landingpage searchbar
  .DS_Store
  frontend/src/booking/BookingEditPopupDialog.js
  frontend/src/landing/LandingPage.js
Labels: enhancement, frontend

#73 fixed default import error on searchbar
  frontend/src/landing/LandingPage.js
Labels: bug, frontend

#46 Add endpoints for getting all restaurants, and opening hours. #18
  backend/routes/restaurant.js
  backend/tests/restaurant/getall.js
  backend/tests/restaurant/openhours.js
  package-lock.json
Labels: backend, enhancement

#91 Restaurant navigation tests unable to pass for different testers
  testing/cypress/integration/restaurant_routing.spec.js
Labels: testing

#96 Package Minimist updated
  .DS_Store
  backend/package-lock.json
  backend/package.json
  package-lock.json
  testing/package-lock.json
  testing/package.json
Labels: backend, enhancement, testing

#95 Add update reservation endpoint
  backend/routes/reservation.js
  backend/tests/reservation/update.js
Labels: backend

#94 Add booking confirmation page and complete redux state management functionality
  frontend/src/booking/ConfirmationContainer.js
  frontend/src/booking/DetailsContainer.js
  frontend/src/booking/TimeContainer.js
  frontend/src/general/textHolder.js
  frontend/src/store/booking/bookingActions.js
  frontend/src/store/booking/bookingReducer.js
Labels: enhancement, frontend

#97 Change add restaurant to use auto-increment
  backend/routes/restaurant.js
Labels: backend, enhancement

#99 Landing page style
  frontend/src/App.js
  frontend/src/general/Logo2.svg
  frontend/src/general/colorScheme.js
  frontend/src/landing/LandingPage.js
  frontend/src/landing/LandingPage.module.css
  frontend/src/landing/RestaurantTile.js
  frontend/src/landing/SearchBar.js
  frontend/src/landing/edit/BookingEditPopup.module.css
  frontend/src/landing/edit/BookingEditPopupButton.js
  frontend/src/landing/edit/BookingEditPopupCSS.js
  frontend/src/landing/edit/BookingEditPopupDialog.js
Labels: enhancement, frontend

#117 Change api syntax
  backend/routes/reservation.js
  backend/routes/restaurant.js
Labels: URGENT

#98 Add an endpoint that gets available tables for reservation
  backend/routes/reservation.js
  backend/tests/reservation/getAvailable.js
Labels: enhancement

#134 Updated restaurant view booking page w some style
  frontend/src/restaurant/RestaurantViewBookingPage.js
  frontend/src/restaurant/RestaurantViewBookingPage.module.css
Labels: enhancement, frontend

#137 Disabling of times dependent on date selected and styling
  frontend/src/booking/BookingPage.module.css
  frontend/src/booking/TimeContainer.js
Labels: enhancement, frontend

#136 Added styling to edit booking dialogs
  frontend/src/landing/edit/BookingEditPopup.module.css
  frontend/src/landing/edit/BookingEditPopupDialog.js
Labels: enhancement, frontend

#129 Feature/notfound error page merge
  frontend/.gitignore
  frontend/src/general/NotFound.js
  frontend/src/general/NotFound.module.css
  frontend/src/general/NotFoundImage.svg
  frontend/src/general/textHolder.js
Labels: enhancement, frontend

#142 Create script to setup local database to run tests
  backend/.gitignore
  backend/README.md
  backend/config/config.js
  backend/database.js
  backend/package.json
  backend/sqlConnectionResolver.js
  backend/test.sh
  backend/tests/mockSQL.js
  backend/tests/reservation/getAll.js
Labels: backend, documentation

#141 Feature/Add API to fetch free reservation slots for a restaurant
  backend/app.js
  backend/routes/table.js
  backend/routes/user.js
  backend/swagger.js
Labels: backend, enhancement

#171 Add testcase for homepage.
  testing/cypress/integration/homepage_function.spec.js
Labels: frontend, testing

#173 Setup Backend CI Pipeline
  .github/workflows/Backend_CI.yml
  backend/database.js
  backend/tests/setup.js
  backend/tests/tests.js
Labels: backend, ci/cd

#159 Create README file
  testing/README.md
Labels: testing
